.space {
  width: 50%;
  background-color: transparent;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: lightgrey;
  text-align: center;
  font-size: 150% !important;
  font-family: SymbolsOnly !important;
}
